<div class="main-container">
  <div class="form-group">
    <input type="text" id="myInput" onkeyup="searchFriend()" placeholder="Search for names..">
  </div>

  <div class="schedule-photo-container">
    <div class="user-photos-container" id="userPhotos">
      <!-- current_user photo -->
      <img class="user-photo" src=<%= @user.photo %> />

      <!-- current_user friends -->
      <% @friends.map do |user| %>
        <img class="user-photo" src=<%= user.photo %> />
      <% end %>
    </div>

    <div class="schedule-container">

      <!-- get hours displayed horizontally on top -->
      <% (0..23).to_a.map do |el| %>
        <div class="each-hour"><span><%= el.to_s + ":00" %></span></div>
      <% end %>
      <!-- end hours display -->

      <!-- current_user availability -->
      <div id="userHours" class="user-hours">
        <div class="hours-row">
          <% get_user_availability_object(@user).keys.map do |el| %>
            <div id=<%= @user.name %> class="hour-block" style=<%=which_color(get_user_availability_object(@user)[el]) %>></div>
          <% end %>
        </div>

        <!-- end current_user availability -->

        <% @friends.each do |friend| %>
          <div class="hours-row">
            <% get_user_availability_object(friend).keys.map do |el|  %>
              <div id=<%= friend.name%> class="hour-block" style=<%=which_color(get_user_availability_object(friend)[el]) %>></div>
            <% end %>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3>Friends:</h3>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %> - <%= link_to "Remove friend", friendship, method: :delete %>
      <ul>
        <% show_available_hour(friendship.friend).keys.each do |available_date, index| %>
          <li>
            <%= available_date %>
            <ul>
              <% show_available_hour(friendship.friend)[available_date].each do |d| %>
                <li><%= d.available_hour %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


<h2>Availability </h2>
<!--
<h1><%= get_user_availability_object(current_user) %></h1>
<h1><%= get_user_availability_array(current_user) %></h1>
-->
<form method="post" action="/availability">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <select name="available_hour" class="custom-select">
    <% (1..24).to_a.each do |el| %>
      <option value=<%= el %>><%= el%></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary">Add Availability</button>
</form>

<hr />

<ul>
  <% @availabilities.keys.each do |available_date, index| %>
    <li>
      <%= available_date %>:
      <ul>
        <% @availabilities[available_date].each do |d| %>
          <li><%= d.available_hour %> - <%= link_to "Remove hour", availability_path(d), method: :delete %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Friended by:</h2>
<ul>
  <% @user.inverse_friends.each do |user| %>
    <li><%= user.name %></lik>
  <% end %>
</ul>
<p><%= link_to "Back to users list", users_path %></p>


<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
  <li><%= user.name %> (<%= link_to "add user", friendships_path(friend_id: user), method: :post %>)</li>
  <% end %>
</ul>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<ul id="myUL">
  <% @users.each do |user| %>
    <li><%= link_to user.name, friendships_path(friend_id: user), method: :post %></li>
  <% end %>
</ul>
