<div class="main-container">
  <div class="search-bar-container">
    <input type="text" id="myInput" onkeyup="searchFriend()" placeholder="Enter your friend name...">
  </div>

  <div class="schedule-photo-container">
    <div class="user-photos-container">

      <!-- current_user photo -->
      <div>
        <div class="photo-container">
          <img id=<%= @user.name %> class="user-photo" src=<%= @user.photo %> />
          <div><span><%= @user.name %></div>
        </div>
      </div>

      <!-- userPhotos for searching -->
      <div id="userPhotos">

        <!-- current_user friends -->
        <% @friends.map do |user| %>
          <div id=<%= user.name %> class="photo-container friends-photo-container">
            <img class="user-photo" src=<%= user.photo %> />
            <div class="photo-names">
              <span><%= user.name %></span>
              <span><%= link_to "Remove", friendship_path(user_id: @user.id, friend_id: user.id), method: :delete, class: 'small-text' %></span>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="schedule-container">

      <!-- get hours displayed horizontally on top -->
      <% (0..23).to_a.map do |el| %>
        <div class="each-hour"><span><%= el.to_s + ":00" %></span></div>
      <% end %>
      <!-- end hours display -->

      <!-- current_user availability -->
      <div class="user-hours">
        <div id=<%= @user.name%> class="hours-row">
          <% get_user_availability_object(@user).keys.map do |el| %>
            <button data-color=<%=get_user_availability_object(@user)[el]%> data-user-id=<%= @user.id %> data-hour=<%= el %> class="hour-block" %></button>
          <% end %>
        </div>

        <!-- end current_user availability -->
        <div id="userHours">
          <% @friends.each do |friend| %>
            <div id=<%= friend.name %> class="hours-row">
              <% get_user_availability_object(friend).keys.map do |el|  %>
                <div data-color=<%= which_color(get_user_availability_object(friend)[el]) %>data-hour=<%= el %> data-user-id=<%= friend.id %> class="hour-block" style=<%=which_color(get_user_availability_object(friend)[el]) %>><%= el%></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<ul class="custom-menu">
  <li>Remove Friend</li>
</ul>



<h3>Friends:</h3>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %> - <%= link_to "Remove friend", friendship, method: :delete %>
      <ul>
        <% show_available_hour(friendship.friend).keys.each do |available_date, index| %>
          <li>
            <%= available_date %>
            <ul>
              <% show_available_hour(friendship.friend)[available_date].each do |d| %>
                <li><%= d.available_hour %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


<h2>Availability </h2>
<!--
<h1><%= get_user_availability_object(current_user) %></h1>
<h1><%= get_user_availability_array(current_user) %></h1>
-->
<form method="post" action="/availability">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <select name="available_hour" class="custom-select">
    <% (0..23).to_a.each do |el| %>
      <option value=<%= el %>><%= el%></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary">Add Availability</button>
</form>



<form method="post" action="/availability">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button name="available_hour" value=0 type="submit" class="nowhere-block">Add Availability</button>
</form>




<hr />

<ul>
  <% @availabilities.keys.each do |available_date, index| %>
    <li>
      <%= available_date %>:
      <ul>
        <% @availabilities[available_date].each do |d| %>
          <li><%= d.available_hour %> - <%= link_to "Remove hour", availability_path(d), method: :delete %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Friended by:</h2>
<ul>
  <% @user.inverse_friends.each do |user| %>
    <li><%= user.name %></lik>
  <% end %>
</ul>
<p><%= link_to "Back to users list", users_path %></p>


<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
  <li><%= user.name %> (<%= link_to "add user", friendships_path(friend_id: user), method: :post %>)</li>
  <% end %>
</ul>
