<h2>Availability</h2>

<form method="post" action="/availability">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <select name="available_hour" class="custom-select">
    <% (1..24).to_a.each do |el| %>
      <option value=<%= el %>><%= el%></option>
    <% end %>
  </select>
  <button type="submit" class="btn btn-primary">Add Availability</button>
</form>

<hr />

<ul>
  <% @availabilities.keys.each do |available_date, index| %>
    <li>
      <%= available_date %>:
      <ul>
        <% @availabilities[available_date].each do |d| %>
          <li><%= d.available_hour %> - <%= link_to "Remove hour", availability_path(d), method: :delete %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Friends</h2>

<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.name %> - <%= link_to "Remove friend", friendship, method: :delete %>
      <ul>
        <% show_available_hour(friendship.friend).keys.each do |available_date, index| %>
          <li>
            <%= available_date %>
            <ul>
              <% show_available_hour(friendship.friend)[available_date].each do |d| %>
                <li><%= d.available_hour %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<h2>Friended by:</h2>
<ul>
  <% @user.inverse_friends.each do |user| %>
    <li><%= user.name %></lik>
  <% end %>
</ul>
<p><%= link_to "Back to users list", users_path %></p>


<h2>Users</h2>

<%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search User" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <% @users.each do |user| %>
  <li><%= user.name %> (<%= link_to "add user", friendships_path(friend_id: user), method: :post %>)</li>
  <% end %>
</ul>
